@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Press Start 2P";
    src: url("/fonts/PressStart2P.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Snide Asides";
    src: url("/fonts/SnideAsides.ttf");
    font-style: normal;
}

canvas {
}

/* Background Image */
body {
    background-color: #68b5df;
    background-image: url('/public/images/sitewide/mountains-background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10rem;
}

@media screen and (min-width: 768px) {
    body {
        background-position: 50% 10rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-position: 50% 50%;
    }
}

/* 8-Bit Button Styles */
.special-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/public/images/sitewide/button-background.webp');
    background-size: cover;
    aspect-ratio: 3.1 / 1;
    transition: all 0.125s ease-in-out;
}

.special-button:hover {
    transform: scale(0.95);
    cursor: pointer;
}
.special-button p {
    margin-top: 0.25rem;
}

/* Dialogue Box */
.dialogue-box {
    position: relative;
    background-image: url('/public/images/game/label-and-dialogue-box.webp');
    aspect-ratio: 1650 / 730;
    width: 327.59398px;
    /* width: 307px; */
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
    padding: 1.75rem 1rem 0.0rem 1rem;
}

.dialogue-box p {
    font-size: 1.05rem;
    line-height: 1.1rem;
}

.jenna-sprite {
    position: absolute;
    height: 130px;
    top: -112.5px;
    z-index: 1;
}
/* Game Border Styles */
.game-border {
    background-image: url('/public/images/game/rope-border.webp');
    /* background-size: contain; */
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1650 / 1330;
    background-repeat: no-repeat;
    /* width: 660px; */
    z-index: 1;
    
    width: 327.59398px;
    /* width: 307px; */
}

.game > canvas {
    border-radius: 5px;
    padding-top: 5px;
}

@media screen and (min-width: 768px) {
    .game-border {
        width: 422.872174px;
    }

    .game {
        aspect-ratio: 1650 / 1330;
        width: 412.872174px;
        height: 100%;
    }
} 

@media screen and (min-width: 1024px) {
    .game-border {
        width: 486.39097px;
    }

    .game {
        aspect-ratio: 1650 / 1330;
        width: 476.39097px;
        height: 100%;
    }
}

/* Experience Wrapper */
.experience-wrapper {
    /* max-width: 307px; */
    max-width: 327.59398px;
}

@media screen and (min-width: 768px) {
    .experience-wrapper {
        max-width: 422.872174px;
    }
}

@media screen and (min-width: 1024px) {
    .experience-wrapper {
        max-width: 486.39097px;
    }
}

/* Leaderboard Modal */
.leaderboard-modal {
    /* max-width: 307px; */
    height: 256px;
    width: 317.59398px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    z-index: 5;
}

.leaderboard-modal-content {
    background-image: url('/public/images/game/high-score-panel.webp');
    aspect-ratio: 1430 / 1108;
    height: 90%;
    /* width: 90%; */
    /* background-size: contain; */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 0.5rem;
    align-items: center;
}

.leaderboard-modal-content * {
    line-height: 1.3rem;
}

@media screen and (min-width: 768px) {
    .leaderboard-modal {
        height: 332.8px;
        width: 412.872174px;
    }
}

@media screen and (min-width: 1024px) {
    .leaderboard-modal {
        height: 384px;
        width: 476.39097px;
    }
}

input:focus-visible {
    border: none;
    outline: none;
    box-shadow: none;
}